<!doctype html>
<html lang="en">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>DnD Character Sheet</title>
  </head>
  <body>
    <h1>DnD Character Sheet</h1>

    <div ng-app="charSheet" ng-controller="formCtrl">
        <form novalidate>
            Player Name: <input type="text" ng-model="char.playername"><br>
            Name: <input type="text" ng-model="char.name"><br>
            Strength: <input type="text" ng-model="char.strength"><span ng-click="add('strength')">&plus;</span><span ng-click="remove('strength')">&minus;</span><br>
            Dexterity: <input type="text" ng-model="char.dexterity"><span ng-click="add('dexterity')">&plus;</span><span ng-click="remove('dexterity')">&minus;</span><br>
            Constitution: <input type="text" ng-model="char.constitution"><span ng-click="add('constitution')">&plus;</span><span ng-click="remove('constitution')">&minus;</span><br>
            Intelligence: <input type="text" ng-model="char.intelligence"><span ng-click="add('intelligence')">&plus;</span><span ng-click="remove('intelligence')">&minus;</span><br>
            Wisdom: <input type="text" ng-model="char.wisdom"><span ng-click="add('wisdom')">&plus;</span><span ng-click="remove('wisdom')">&minus;</span><br>
            Charisma: <input type="text" ng-model="char.charisma"><span ng-click="add('charisma')">&plus;</span><span ng-click="remove('charisma')">&minus;</span><br><br>
            <button ng-click="reset()">Reset Form</button>
            
        </form>
    </div>
    <!-- Angular script goes here -->
    <script>
    var app = angular.module('charSheet',[]);
    app.controller('formCtrl', function($scope){
        $scope.master = {playername: "Your Name", name: "Character Name", strength: 0, dexterity: 0, constitution: 0, intelligence: 0, wisdom: 0, charisma: 0};
        $scope.reset = function(){
            $scope.char = angular.copy($scope.master);
        };
        $scope.reset();
        $scope.removeStr = function(){
            if($scope.char.strength <= 0){
                return;
            }else{
                $scope.char.strength--;
            }
        }
        $scope.add = function(stat){
            switch(stat){
                case 'strength':
                    $scope.char.strength++;
                    break;
                case 'dexterity':
                    $scope.char.dexterity++;
                    break;
                case 'constitution':
                    $scope.char.constitution++;
                    break;
                case 'intelligence':
                    $scope.char.intelligence++;
                    break;
                case 'wisdom':
                    $scope.char.wisdom++;
                    break;
                case 'charisma':
                    $scope.char.charisma++;
                    break;
            }
        }
        $scope.remove = function(stat){
            switch(stat){
                case 'strength':
                    if($scope.char.strength <= 0){
                        return;
                    }else{
                        $scope.char.strength--;
                    };
                    break;
                case 'dexterity':
                    if($scope.char.dexterity <= 0){
                        return;
                    }else{
                        $scope.char.dexterity--;
                    };
                    break;
                case 'constitution':
                    if($scope.char.constitution <= 0){
                        return;
                    }else{
                        $scope.char.constitution--;
                    };
                    break;
                case 'intelligence':
                    if($scope.char.intelligence <= 0){
                        return;
                    }else{
                        $scope.char.intelligence--;
                    };
                    break;
                case 'wisdom':
                    if($scope.char.wisdom <= 0){
                        return;
                    }else{
                        $scope.char.wisdom--;
                    };
                    break;
                case 'charisma':
                    if($scope.char.charisma <= 0){
                        return;
                    }else{
                        $scope.char.charisma--;
                    };
                    break;
            }
        }
    });
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>